Anggara Bayu P
175410142

### 1. Whetting Your Appetite

### 2. Using the Python Interpreter

#### 2.1. Invoking the Interpreter

#### 2.1.1. Argument Passing

#### 2.1.2. Interactive Mode

In [1]:
the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

#### 2.2. The Interpreter and Its Environment

#### 2.2.1. Source Code Encoding

In [ ]:
# -*- coding: encoding -*-

In [ ]:
# -*- coding: cp1252 -*-

In [ ]:
#!/usr/bin/env python3
# -*- coding: cp1252 -*-

### 3. An Informal Introduction to Python

In [ ]:
# ini adalah komen pertama
spam = 1  # dan ini adalah komen kedua
          # ... dan ini adalah komen ketiga!
text = "# Ini bukan merupakan komen karena berada di dalam quotes."

#### 3.1. Using Python as a Calculator

#### 3.1.1. Numbers

In [2]:
2 + 2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5

1.6

Angka-angka bilangan bulat (misalnya 2, 4, 20) memiliki jenis int, yang dengan bagian pecahan (misalnya 5.0, 1.6) memiliki tipe float. Division ( /) selalu mengembalikan float.

In [6]:
17 / 3

5.666666666666667

In [7]:
17 // 3

5

In [8]:
17 % 3

2

In [9]:
5 * 3 + 2

17

Dengan Python, dimungkinkan untuk menggunakan operator ** untuk menghitung kekuatan :

In [10]:
5 ** 2

25

In [11]:
2 ** 7

128

Tanda sama dengan (=) digunakan untuk menetapkan nilai ke variabel. Setelah itu, tidak ada hasil yang ditampilkan sebelum prompt interaktif berikutnya :

In [12]:
width = 20
height = 5 * 9
width * height

900

Jika suatu variabel tidak "didefinisikan" (diberi nilai), maka akan terjadi kesalahan :

In [13]:
n

NameError: name 'n' is not defined

Ada dukungan penuh untuk floating point; operator dengan tipe operan campuran mengkonversi operan integer ke floating point :

In [14]:
4 * 3.75 - 1

14.0

Dalam mode interaktif, ekspresi cetak terakhir ditugaskan ke variabel _.

In [15]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [16]:
price + _

113.0625

In [17]:
round(_, 2)

113.06

#### 3.1.2. String

Selain angka, Python juga dapat memanipulasi string, yang dapat diekspresikan dalam beberapa cara. Mereka dapat dilampirkan dalam tanda kutip tunggal ( '...') atau tanda kutip ganda ( "...") dengan hasil yang sama.

In [18]:
'spam eggs'

'spam eggs'

In [19]:
'doesn\'t'

"doesn't"

In [20]:
"doesn't"

"doesn't"

In [21]:
'"Yes," they said.'

'"Yes," they said.'

In [22]:
"\"Yes,\" they said."

'"Yes," they said.'

In [23]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

Dalam interpreter interaktif, string output diapit dengan tanda kutip dan karakter khusus lolos dengan garis miring terbalik. Meskipun ini kadang-kadang terlihat berbeda dari input, kedua string tersebut setara.

In [24]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [25]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [27]:
s = 'First line.\nSecond line.'
s

'First line.\nSecond line.'

In [28]:
print(s)

First line.
Second line.

In [29]:
print('C:\some\name')

C:\some
ame

In [30]:
print(r'C:\some\name')

C:\some\name

Literal string dapat menjangkau beberapa baris. Salah satu caranya adalah dengan menggunakan tanda kutip tiga: """..."""atau '''...'''. Akhir baris secara otomatis termasuk dalam string, tetapi dimungkinkan untuk mencegahnya dengan menambahkan \ di akhir baris.

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

In [ ]:
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

String dapat digabungkan (direkatkan) dengan operator + , dan diulangi dengan * :

In [31]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

Dua atau lebih string literal (yaitu yang terlampir di antara tanda kutip) di sebelah satu sama lain secara otomatis digabungkan.

In [32]:
'Py' 'thon'

'Python'

Fitur ini sangat berguna ketika ingin memecah string panjang

In [34]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

Ini hanya bekerja dengan dua literal, tidak dengan variabel atau ekspresi :

In [38]:
prefix = 'Py'

In [39]:
prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-39-7edf08bff78f>, line 1)

In [40]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-40-f4764cbe42a8>, line 1)

Jika ingin menggabungkan variabel atau variabel dan literal, gunakan operator + :

In [41]:
prefix + 'thon'

'Python'

String dapat diindeks (subskriped), dengan karakter pertama memiliki indeks 0. Tidak ada tipe karakter yang terpisah; sebuah karakter hanyalah sebuah string berukuran satu :

In [42]:
word = 'Python'

In [43]:
word[0]

'P'

In [44]:
word[5]

'n'

Indeks juga bisa berupa angka negatif, untuk mulai menghitung dari kanan :

In [45]:
word[-1]

'n'

In [46]:
word[-2]

'o'

In [47]:
word[-6]

'P'

Selain pengindeksan, pengirisan juga didukung.

In [48]:
word[0:2]

'Py'

In [49]:
word[2:5]

'tho'

Perhatikan bagaimana awal selalu disertakan, dan akhirnya selalu dikecualikan. Ini memastikan bahwa selalu sama dengan :s[:i] + s[i:]s

In [50]:
word[:2] + word[2:]

'Python'

In [51]:
word[:4] + word[4:]

'Python'

Indeks slice memiliki standar yang berguna; indeks pertama yang dihilangkan default ke nol, indeks kedua yang dihilangkan adalah standar untuk ukuran string yang diiris.

In [52]:
word[:2]

'Py'

In [53]:
word[4:]

'on'

In [54]:
word[-2:]

'on'

Salah satu cara untuk mengingat bagaimana irisan bekerja adalah dengan menganggap indeks sebagai menunjuk di antara karakter, dengan tepi kiri karakter pertama bernomor 0. Kemudian tepi kanan karakter terakhir dari string n karakter memiliki indeks n.

In [ ]:
+---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

Baris pertama angka memberikan posisi indeks 0 ... 6 dalam string; baris kedua memberikan indeks negatif yang sesuai. Irisan dari i ke j terdiri dari semua karakter di antara kedua sisi yang berlabel i dan j. Untuk indeks non-negatif, panjang irisan adalah perbedaan indeks, jika keduanya berada dalam batas.

In [60]:
word[42]

IndexError: string index out of range

In [58]:
word[4:42]

'on'

In [59]:
word[42:]

''

String python tidak dapat diubah, mereka tidak dapat diubah. Oleh karena itu, menetapkan ke posisi yang diindeks dalam string menghasilkan kesalahan :

In [61]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [62]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [63]:
'J' + word[1:]

'Jython'

In [64]:
word[:2] + 'py'

'Pypy'

Fungsi len()bawaan mengembalikan panjang string :

In [65]:
s = 'supercalifragilisticexpialidocious'

In [66]:
len(s)

34

#### 3.1.3. Daftar

Python mengetahui sejumlah tipe data majemuk, yang digunakan untuk mengelompokkan nilai-nilai lainnya. Yang paling serbaguna adalah daftar , yang dapat ditulis sebagai daftar nilai yang dipisahkan koma (item) antara tanda kurung siku.

In [67]:
squares = [1, 4, 9, 16, 25]

In [68]:
squares

[1, 4, 9, 16, 25]

Seperti string (dan semua tipe urutan bawaan lainnya), daftar dapat diindeks dan diiris :

In [69]:
squares[0]

1

In [70]:
squares[-1]

25

In [71]:
squares[-3]

9

Semua operasi slice mengembalikan daftar baru yang berisi elemen yang diminta.

In [72]:
squares[:]

[1, 4, 9, 16, 25]

In [73]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Tidak seperti string, yang tidak dapat diubah. Daftar adalah tipe yang dapat berubah, yaitu mungkin untuk mengubah kontennya :

In [74]:
cubes = [1, 8, 27, 65, 125]

In [75]:
4 ** 3

64

In [76]:
cubes[3] = 64

In [77]:
cubes

[1, 8, 27, 64, 125]

Kita dapat menambahkan item baru di akhir daftar, dengan menggunakan metode append()

In [78]:
cubes.append(216)

In [79]:
cubes.append(7 ** 3)

In [80]:
cubes

[1, 8, 27, 64, 125, 216, 343]

Tugas untuk irisan juga dimungkinkan, bahkan dapat mengubah ukuran daftar atau menghapusnya sepenuhnya :

In [81]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [82]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [83]:
# replace some values

In [84]:
letters[2:5] = ['C', 'D', 'E']

In [85]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [86]:
# now remove them

In [87]:
letters[2:5] = []

In [88]:
letters

['a', 'b', 'f', 'g']

In [89]:
# clear the list by replacing all the elements with an empty list

In [90]:
letters[:] = []

In [91]:
letters

[]

Fungsi len()bawaan juga berlaku untuk daftar :

In [92]:
letters = ['a', 'b', 'c', 'd']

In [93]:
len(letters)

4

Dimungkinkan untuk membuat daftar sarang (membuat daftar yang berisi daftar lain), misalnya :

In [94]:
a = ['a', 'b', 'c']

In [95]:
n = [1, 2, 3]

In [96]:
x = [a, n]

In [97]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [98]:
x[0]

['a', 'b', 'c']

In [99]:
x[0][1]

'b'

#### 3.2. Langkah Pertama Menuju Pemrograman

In [100]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1

In [101]:
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

Kita bisa menggunakan Python untuk tugas yang lebih rumit daripada menambahkan dua dan dua bersamaan.

In [1]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

Argumen kata kunci akhir dapat digunakan untuk menghindari baris setelah output, atau mengakhiri output dengan string yang berbeda :

In [2]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,